

.header{
    height: 100vh;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    box-sizing: border-box;
    position: relative;
}

.header-content {
    position: absolute;
    bottom: 100px;
    padding-left: 50px;
}

.header-content h2{
    font-size: 48px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    padding-bottom: 5px;
}

.header-content > p{
    font-size: 18px;
    font-family: Lato, sans-serif;
    padding-bottom: 25px;
}

.slogan{
    background-color: rgba(0,0,0,0.35);
    font-size: 54px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #fff;
}
.slogan-text{
    font-family: Montserrat, sans-serif;
    font-size: 54px;
    font-weight: bold;
    display: inline-block;
    padding-right: 40px;
}

.text-orange{
    color: #f1ad1d;
    display: inline-block;
    background-color: #fff;
    padding: 20px 15px;

}
/*---------------------------------*/
.first-section{
    text-align: center;
    padding: 65px 0px;
    background: radial-gradient(#e6e6e6 -1px, transparent 4px), #fff;
    background-size: 45px 45px;
    background-position: 75px 70px;
    height: 355px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.first-heading{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    text-transform:uppercase;
    color:  #333;
    font-weight: 700;
    padding: 45px 0px;
}

.first-subheading{
    font-family: Lato, sans-serif;
    font-size: 17px;
    color:  #4d4943;
}

.orange-line{
    width: 75px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 0px auto;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 65px;
}
/*---------------------------------*/
.second-section{
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 65px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 360px;
}

.second-heading {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    text-transform:uppercase;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
    color: #fff;
}

.second-heading span{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    color: #f1ad1d;
}
/*---------------------------------*/
.third-section{
    text-align: center;
    padding: 65px 0px;
    background: radial-gradient(#e6e6e6 -1px, transparent 4px), #fff;
    background-size: 45px 45px;
    background-position: 75px 70px;
    height: 360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.third-heading{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    text-transform:uppercase;
    color:  #333;
    font-weight: 700;
    padding: 45px 0px;
}

.third-subheading{
    font-family: Lato, sans-serif;
    font-size: 17px;
    color:  #4d4943;
}
/*---------------------------------*/
.forth-section{
    text-align: center;
    padding: 65px 0px;
    background-image: url("../img/bg3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 430px;
}

.forth-heading {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    text-transform:uppercase;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 60px;
}

.forth-heading span{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    color: #f1ad1d;
}

.forth-logos img{
    display: inline-block;
    margin-right: 55px;
}

.forth-logos img:first-child{
    margin-left: 55px;
}

.forth-logos a {
    cursor: pointer;
    text-decoration: none;
}
/*---------------------------------*/
.fifth-section{
    text-align: center;
    padding: 85px 0px;
    background: radial-gradient(#e6e6e6 -1px, transparent 4px), #fff;
    background-size: 45px 45px;
    background-position: 75px 70px;
    height: 360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fifth-heading{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    text-transform:uppercase;
    color:  #333;
    font-weight: 700;
    padding: 45px 0px;
}

.fifth-subheading{
    font-family: Lato, sans-serif;
    font-size: 17px;
    color:  #4d4943;
}
/*---------------------------------*/
.sixth-section{
    text-align: center;
    padding: 65px 0px;
    background-image: url("../img/bg4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 430px;
}

.sixth-heading {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    text-transform:uppercase;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 60px;
}

.sixth-heading span{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    color: #f1ad1d;
}

.sixth-subheading{
    font-family: Lato, sans-serif;
    font-size: 18px;
    color:  #fff;
}

.sixth-subheading span{
    font-family: Lato, sans-serif;
    font-size: 18px;
    color:  #f1ad1d;
}

.sixth-subheading a{
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color:  #f1ad1d;
}

.white-line {
    width: 290px;
    height: 3px;
    background-color: #fff;
    margin: 0px auto;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 65px;
}
/*---------------------------------*/
.seventh-section{
    text-align: center;
    padding: 85px 0px;
    background: radial-gradient(#e6e6e6 -1px, transparent 4px), #fff;
    background-size: 45px 45px;
    background-position: 75px 70px;
    height: 360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.seventh-heading{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    text-transform:uppercase;
    color:  #333;
    font-weight: 700;
    padding: 45px 0px;
}

.seventh-subheading{
    font-family: Lato, sans-serif;
    font-size: 17px;
    color:  #4d4943;
}
/*---------------------------------*/